<%= render "shared/header" %>
<div class="main">
  <div class="image-opacity">

    <div class="containers">
      <div class="report-container">
        <div class="report-title">
          練習報告履歴
        </div>
        <table class="report-lists">
          <tbody>
            <% @posts.each do |post| %>
              <tr class="list">
                <%#= link_to post_path(post) do %>
                  <td class="report-date">
                    <%= link_to post.date.strftime("%Y/%m/%d()"), post_path(post)  %>
                  </td>
                  <td class="report-name">
                    <%= post.user.name %>
                  </td>
                <%# end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>

      <div class="enquete-container">
        <div class="enquete-title">
          アンケート
        </div>
        
      </div>

      <div class="attendance-container">
        <div class="attendance-title">
          次回の出席状況
        </div>
        
      </div>

    </div>

  </div>
</div>