.detail-container {
  background-color: bisque;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-table {
  background-color: white;
  margin: 0 auto;
  width: 50%;
  height: calc(100vh - 60px);
  opacity: 0.9;
}

.detail-post {
  width: 15%;
  font-size: 24px;
  background-color: #eee;
  text-align: center;
}

.detail-value {
  width: 85%;
  font-size: 14px;
  padding-left: 10px;
}

.detail-date, .detail-name {
  height: 8%;
  font-size: 24px;
}

.edit-destroy-btn-container {
  margin: 30px;
}

.post-edit-btn {
  text-decoration: none;
  background-color: orange;
  text-align: center;
  margin: 20px 40px;
  padding: 10px 20px;
  font-size: 24px;
}

.post-destroy-btn {
  font-size: 12px;
}